<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-light text-center text-uppercase">Club Escort</h3>
                <p class="text-center text-light">
                        Portal para mayores de 18 años. Club Escort NO ES UNA AGENCIA 
                        y no se responsabiliza por el servicio de las escorts. 
                        Las fotografías son verificadas antes de ser publicadas.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:35px;">
            <div class="col-xs-3 col-xs-offset-3 text-center">
                <button class="btn btn-primary btn-block">Públicate</button>
            </div>
            <div class="col-xs-3 text-center">
                <button class="btn btn-secondary btn-block">Contacto</button>
            </div>
        </div>
    </div>
</section>