<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-light">Escorts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-3" style="padding-left:5px; padding-right:5px;" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
            <div class="girl">
                <img src="app/assets/img/girls/modal3.jpg" class="img-responsive girl-img" alt="">
                <div class="girl-content">
                    <h4 class="girl-name">Nombre de chica</h4>
                    <div class="girl-info">
                        <p><i class="material-icons">&#xE227;</i> 100.000</p>
                        <p><i class="material-icons">&#xE551;</i> Número</p>
                        <p><i class="material-icons">&#xE0C8;</i> Ubicación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>