<main class="header-img">
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                
                <div class="input-group">
                    <input type="text" placeholder="Buscar" class="form-control">
                    <div class="input-group-btn">
                        <a href="" class="btn btn-primary">Buscar</a>
                    </div>
                </div>
                <a href="#busquedaAvanzada" class="btn btn-link" data-toggle="collapse" aria-expanded="false">Busqueda avanzada</a>
                <div class="form-group collapse" id="busquedaAvanzada">
                    <select name="" id="" class="form-control" class="col-md-1">
                        <option value="" selected>Cabello</option>
                        <option value="">Gris</option>
                        <option value="">Verde</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
</main>