.header-img{
    background-image: url('../img/bg.jpeg');
    background-position: center right;
    background-repeat: no-repeat;
    background-color: $black;
    background-size: contain;
    min-height: 40em;
    border-bottom: solid 1px #212121;
    padding-top: 50px;
}